page-home {
.favorito{position: absolute;right: 0;margin: 10px; }
.favorito img{width: 100%;}
ion-card img{width: 60%; margin: 0 auto}
.btn{text-align: center}
.quant{width: 35px;height: 35px;background: #399b1f; font-size: 20px; color:white; margin: 0 10px}
.card{position: relative}
ul{padding: 0}
li{display: block}
.item{padding-left: 0 !important}
.card h3{border: 1px solid gray; text-align: center; padding: 10px 0;text-transform: uppercase; background: black; color:white}
.fixed{display: table; width: 100%; bottom: 0; background: white; position: fixed;box-shadow: 0px -1px 1px 0px;padding: 5px;}
.scroll-content{padding-bottom: 50px}
.frete{display: flex; justify-content: space-around; align-items: center; margin-top: 1.5rem}
input[type="text"] {
    width: 20%;
    height: 3.6rem;
    text-align: center;
    border:1px solid #c1c1c1
}
.lista_fretes ul li{display: flex; justify-content: space-around; margin: 10px 0; align-items: center}
.lista_fretes ul{padding: 0; border: 1px solid #ddd6d6; border-radius: 5px;}
.btn_popover{position: absolute; right: 0;background: transparent; color: black;box-shadow: none;}
}
